*{padding: 0px; margin: 0px;}


.main_continar{
    margin: 0px auto;
    width: 1000px;
    height:auto;
}

.title{
    margin: 0px auto;
    width: 1000px;
    height: 50px;
    background: #eeddff;
    color: black;
    text-align: center;
    float: left;
    padding-top: 10px;
    float:  left
}

.nav{
    margin: 0px auto;
    width: 980px;
    padding: 10px;
    height:auto;
    background: black;
    /*color:gold;*/
    text-align: left;
    float: left;
}

strong{
    color: whitesmoke;
}

.about{
    margin-left:75px;
    color: black;
    font-size: 16;
}


.group_name{
    margin: 0px auto;
    width: 1000px;
    min-height: 400px;
    padding-top:50px;
    background:#eeddff;
    color: white;
    text-align: center;
    color: gold;
    float: left;
}

.footer{
    margin: 0px auto;
    padding:10px;
    height: auto;
    width: 980px;
    color:white;
    background:black;
    text-align: center;
    float: left;
}
a{text-decoration: none;}

.obaidul,.islam,.masud,.sibly{
margin: 0px auto 10px;
background: graytext;
width: 300px; 
height: 25px;
padding: 10px;
text-height: auto;
border-radius: 5px;
color: whitesmoke;
}

.obaidul:hover,.islam:hover,.masud:hover,.sibly:hover{
margin: 0px auto 10px;
background: red;
width: 300px; 
height: 25px;
padding: 10px;
text-height: auto;
border-radius: 5px;
font-weight: bold;
color: yellow;
}

.item{
    margin: 0px auto;
    width: 800px;
    height:auto;
    padding-left:50px;
    background:yellow;
}

.book,.org,.email,.dob,.gender,.city,.singleCheck,.multiCheck,.pic,.search{
margin: 0px 10px 10px;
background: graytext;
width: 350px; 
height: 25px;
padding: 10px;
text-height: auto;
border-radius: 5px;
color: whitesmoke;
float: left;
}


/*-----------Hover (index 108098)-----------*/

.book:hover,.dob:hover,.gender:hover,.multiCheck:hover,.pic:hover{
margin: 0px 10px 10px;
background: red;
width: 350px; 
height: 25px;
padding: 10px;
text-height: auto;
border-radius: 5px;
font-weight: bold;
color: yellow;
float: left;
}


.org:hover,.email:hover,.city:hover,.singleCheck:hover,.search:hover{
margin: 0px 10px 10px;
background: green;
width: 350px; 
height: 25px;
padding: 10px;
text-height: auto;
border-radius: 5px;
font-weight: bold;
color: red;
float: left;
}

/*----------------------Book index-----------------*/

.info_containar{
    margin: 0px auto;
    width: 1000px;
    height:auto;
    background:#eeddff;
    padding: 50px 0 5px 0;
}

.info{
    margin: 0px auto;
    height: 20px;
    background:white;
    color: black;
    text-align: center;
    width: 75%;
    height:auto;
    padding: 5px 0 5px 0;
    border-radius:5px 5px 0 0;
    border: 1px black solid; 
}

/*--------------------------------------------*/
.table_size{
    margin: 0px auto;
    width: 1000px;
    min-height: 400px;
    padding:0px 0px 10px 0px;
    background:#eeddff;
    color: white;
    text-align: center;
    float: left;
}

table {
    border-collapse: collapse;
    width: 75%;
}

th {
    height: 40px;
}

.tablerightcol{text-align:center 
}


.table_footer{
    margin: 4px auto;
    width: 75%;
    height:auto;
    padding: 5px 0 5px 0;
    background:white;
    border-radius:0 0 5px 5px;
    border: 1px black solid;
}


.table_footer:hover{
    color: red;
    margin: 4px auto;
    width: 75%;
    height:auto;
    padding: 5px 0 5px 0;
    background: peachpuff;
    border-radius:0 0 5px 5px;
    border: 1px black solid;
}

/*------------------Create Book Title-----------------*/

.bookcreate_body{
    margin: 0px auto;
    width: 1000px;
    min-height: 450px;
    background: #eeddff;
    float: left;  
}

.booktitle_create{
    margin: 50px auto;
    width: 400px;
    min-height: 150px;
    padding: 50px 0 0 50px;
    color: black;
    border: 2px white solid; 
}

.booktitle_create{border: 0px solid black;}
 
.noborder table td {
    border: none;
}
.booktitle_create input{
    height: 30px;
    /*border-radius: 10px;*/
    border: none;
    padding-left: 10px;
}
.sbmtbtn{
    padding: 8px;
    text-align: center;
    background: teal;
    color: #ffffff;
    border-radius: 5px;
    border: none;
}

/*----------------------------email edit--------------------------------*/*

p{ 
color:white; 
padding: 10px;}

.main_continar_email_edit{ 
    margin: 0 auto;
    width: 1000px;
    height: auto;
    border: 1px #eeddff solid;
}

.email_edit_title{ 
    margin: 0 auto;
    width: 1000px;
    height: auto;
    padding: 20px 0;
    background:  #eeddff;
    text-align: center;
}

.email_edit_nev{ 
    margin: 0 auto;
    width: 980px;
    height: auto;
    padding: 10px 0 10px 20px;
    background:black;
    text-align:left;
}

.email_edit_body{ 
    margin: 0 auto;
    width: 980px;
    height: auto;
    padding: 25px 0 25px 20px;
    background: #eeddff;
    text-align:left;
}

.email_edit_table{width: 40%}

.email_edit_body input{
    height: 30px;
    border: none;
    padding-left: 5px;
    width: 400px; 
    margin: 5px 0;
}
.email_edit_body .sbmtbtn{
    text-align: center;
    background: teal;
    color: #ffffff;
    border-radius: 2px;
    border: none;
    padding:5px;
    margin: 5px 0;
}


/*---------------------------------------------------------------*/